p, a{
  font-family: arial;
  color: salmon;
  text-decoration: 
}

body{
	background-color: #2F4F4F;
}

h1{
	text-align: center;
	color: azure;
	font-family: arial;
}

.container{
  width: 500px;
  border: 2px solid black;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.gambar, img{
	width: 200px;
	height: 200px;
	border: 3px solid black;
}
